@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-montserrat);
}

@layer base {
  :root {
    --radius: 0.5rem;
    --font-montserrat: 'Montserrat', sans-serif;
  }
}
